body {
  background-color: cornsilk;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 800px) {
  body {
    background-color: pink;
}
}

header{
position: sticky;
top: 0;
}

nav{
  background-size: 300px 100px;
  text-align: right;
  padding: 2px;
}

#header-img {
  width: 5.5em;
  height: 5.5em;
  float: left;
  left: 0.7em;
}


.nav-link{
  font-size: 1.2em;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  font-style: italic;
}

.main-div{
  margin: 1em;
  text-align: center;
  padding: 1em;
}

#submit{

  padding: 0.5%;
  border-color: black;
  background-color: #8934eb;
  font-weight: 400;
  font-size: 100%;
  }
    

.container {
  margin: 1.5em;
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
  display: flex;
  justify-content: center;
}

.property{
  margin-bottom: 5%;
  margin-top: 5%;
  
}


#Material-logo {
  width: 70px;
  height: 70px;
  padding-left: 30px;
  padding-right: 5%;
  float: left;
  position: relative;
}

#Shipping-logo {
  width: 70px;
  height: 70px;
  padding-left: 30px;
  padding-right: 5%;
  float: left;
  position: relative;
}

#Quality-logo {
  width: 70px;
  height: 70px;
  padding-left: 30px;
  padding-right: 5%;
  float: left;
  position: relative;
}

#video{
  margin-top: 50px;
  margin-left: 30%;
}

#pricing {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}


.product {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  text-align: center;
  width: calc (100%/3);
  border: 1px solid #000;
  border-radius: 3px;
}

.product > .level {
  color: black;
  padding: 20px 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 140%;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 2%;
  border-color: black;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 15px 0;
  background-color: #8934eb;
  font-weight: 400;
  font-size: 100%;
}

.product > button:hover {
  background-color: rgb(127, 12, 138);
  transition: background-color 1s;
}


footer {
  padding: 15px;
  margin: 10px 30px 10px 30px;
}

#text-end {
  font-size: 20px;
  text-align: center;
  line-height: 0px;
}

#tumblr {
color: #000000;
}

#logo-fcc {
  width: 20px;
  height: 20px;
  color: #000000;
}